#sign-in-container{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .form-container{
        text-align: center;
        width: 400px;
        height: 500px;
        border: 1px solid gray;
        align-self: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        #logo-container{
            height: 40%;
            img{
                height: 100%;
                line-height: 100%;
            }
        }
        form{
            height: 50%;
            width: 60%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
        }
    }
}