<div id="sign-in-container">
  <div class="form-container">
    <div id="logo-container"><img src="./assets/logo.png" alt=""></div>
    <form #formulario="ngForm" (ngSubmit)="this.signIn(formulario)">
      <input type="text" placeholder="Ingrese su usuario" name="username" ngModel>
      <input type="password" placeholder="Ingrese su contraseña" name="password" ngModel>
      <input type="submit" value="Ingresar" name="signin">
    </form>
    <p>¿No estás registrado aún?<a routerLink="/register"><p>Regístrate</p></a></p>
    
  </div>
</div>