<div id="register-container">
    <div class="form-container">
        <form #formulario="ngForm" (ngSubmit)="this.userService.addUser(formulario)" enctype="multipart/form-data">
        <p>Registro</p>
        <input type="text" placeholder="Usuario" name="username" ngModel>
        <input type="text" placeholder="Email" name="email" ngModel>
        <input type="password" placeholder="Contraseña" name="password" ngModel>
        <input type="file" (change)="this.userService.subeImagen($event)">
        <input type="submit" value="Ingresar" name="register">
        </form>
        <a routerLink="/signin"><p>Cancelar</p></a>
        
    </div>
</div>