#register-container{
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    .form-container{
        text-align: center;
        width: 400px;
        height: 500px;
        border: 1px solid gray;
        align-self: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        form{
            height: 90%;
            width: 60%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
        }
    }
}