/* You can add global styles to this file, and also import other style files */
*{
    font-size: large;
}
html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}