#dialog-confirm, .popUp{
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    z-index: 100;
    .container{
        padding: 25px;
        background: #ffffff;
        width: 30%;
        font-size: 20px;
        position: relative;
        .title, .content, .buttons{
            margin: 0 0 10px 0;
        }

        i{
            color: rgba(0, 0, 0, 0.69);
            position: absolute;
            right: 30px;
        }

        .buttons{
            margin: 20px 0 0 0;
            display: flex;
            flex-flow: row nowrap;
            align-content: space-between;
            justify-content: space-between;

            .btn{
                flex-basis: 40%
            }
        }

    }

}

@media only screen and (max-width: 900px) {
  #dialog-confirm, .popUp {
     .container {
        width: 50%;

     }

  }
}
@media only screen and (max-width: 550px) {
  #dialog-confirm, .popUp {
     .container {
        width: 80%;

     }

  }
}
#content-container{
    width: 100%;
}


#main-container{
    display: flex;
    flex-flow: row nowrap;
    #left-bar{
        #user-container{
            border-bottom: 1px solid rgba(145, 145, 145, 0.486);
            min-height: 80px;
            display: flex;
            flex-flow: row nowrap;
            img{
                width: 50%;
                height: 100px;
            }
        }
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        padding: 10px;
        height: 100vh;
        width: 400px;
        border-right: 1px solid rgba(145, 145, 145, 0.486);
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-content: center;
        overflow: scroll;
        #libretas-container{
            flex-grow: 1;
        }
    }
}

#notebook-section{
    #notebook-cont{
        padding: 5px;
        margin: 0px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid rgba(145, 145, 145, 0.486);

    }
}

#note-li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: rgb(231, 231, 231);
}
ul{
    margin-bottom: 0;
}