<!-- CONFIRM DIALOG -->

<div id="dialog-confirm" style="display:none" >
  <div class="container">
    <i (click)= "cancelarBorrar()" class="fa fa-times" ></i>
    <div class="title">Usted va a borrar la 
      <span id="nombreElemento">Libreta</span>:
      <div id="idElemento" style="display:none">hola</div>
    </div>
    <div id= "tituloElemento" class="content">Nombre</div>
    <div class="buttons">
      <button class="btn btn-default" (click)="aceptarBorrar()">Aceptar</button>
      <button class="btn btn-default" (click)="cancelarBorrar()">Cancelar</button>
    </div>
  </div>
</div>

<div id="main-container">
  <div id="left-bar">    
    <div id="user-container">
      <div>
        <h2>{{authService.getCurrentUser().username}}</h2>
        <h3>{{authService.getCurrentUser().email}}</h3>
      </div>
      <img [src]="this.photo | safeURL" alt="">
      
    </div>
    <div id="libretas-container">
      <h2>Libretas 
        <div class="btn btn-default" (click)="activarCrearLibreta($event)">
          Crear Libreta
        </div>
        <div class="btn btn-success" (click)="updateVars()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
          </div>
      </h2>

      <section id="notebook-section" *ngFor="let notebook of this.currentUserNotebooks">
        <div id="notebook-cont">
          <p>{{notebook.name}} </p>
          <div id="buttons">
            <div id="{{notebook.id}}" class="btn btn-default" (click)="activarCrearNota($event)">
              <span id="{{notebook.id}}" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </div>
            <div id="{{notebook.id}}" class="btn btn-default" (click)="activarModificarLibreta($event)">
              <span id="{{notebook.id}}" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </div>
            <div id="{{notebook.id}}" class="btn btn-danger" (click)="eliminarLibreta($event)">
              <span id="{{notebook.id}}" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </div>
            <div id="{{notebook.id}}" class="btn btn-default" (click)="contraerLibreta($event)">
              <span id="{{notebook.id}}" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <ul id="Libreta{{notebook.id}}" class="list-group" style="display:none">
          <li id="note-li" class="list-group-item" *ngFor="let note of notebook.notes[0]">
            <p>{{note.title}}</p>
            <div>
              <div id="{{note.id}}" class="btn btn-default" (click)="mostrarNota($event)">
                  <span id="{{note.id}}" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </div>
              <div id="{{note.id}}" class="btn btn-danger" (click)="eliminarNota($event)">
                <span id="{{note.id}}" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>
    <a (click)="authService.signOut($evt)" href="">Cerrar sesion</a>
    
  </div>

  <div id="content-container">
    <app-nota [id] = "idNoteModify"></app-nota>
  </div>
</div>


<div id="creadorDeLibretas" class="popUp" style="display:none">
    <div class="container">
      <i (click)="cerrarCrearLibreta()" class="fa fa-times"></i>
      <h2 class="title">
        Crear Libreta:
        <!-- <button class="btn btn-default" (click)="cerrarCrearLibreta()">X</button> -->
      </h2>
      <div class="form-group content">
        <label for="nombreDeLaLibreta">Nombre:</label>
        <input [(ngModel)]="nombreNuevaLibreta" type="text" class="form-control" id="nombreNuevaLibreta">
      </div>
      <div class="buttons">
        <button type="submit" (click)="crearLibreta($event)" class="btn btn-primary">Agregar Libreta</button>
        <button type="submit" (click)="cerrarCrearLibreta()" class="btn btn-primary">Cancelar</button>
      </div>
    </div>
  </div>
  
  
  <div id="creadorDeNotas" class="popUp" style="display:none">
    <div class="container">
      <i (click)="cerrarCrearNota()" class="fa fa-times"></i>
      <h2 class="title">
        Crear Nota:
        <!-- <button class="btn btn-default" (click)="cerrarCrearNota()">X</button> -->
      </h2>
      <div class="form-group content">
        <label for="nombreDeLaNota">Nombre:</label>
        <input [(ngModel)]="nombreNuevaNota" type="text" class="form-control" id="nombreNuevaNota">
      </div>
      <div class="buttons">
        <button type="submit" (click)="crearNota($event)" class="btn btn-primary">Agregar Nota</button>
        <button type="submit" (click)="cerrarCrearNota()" class="btn btn-primary">Cancelar</button>
      </div>
      <div id="libretaDeLaNuevaNota" style="display:none"></div>
    </div>
  </div>

  <div id="modificadorLibreta" class="popUp" style="display:none">
      <div class="container">
        <i (click)="cerrarModificarLibreta()" class="fa fa-times"></i>
        <h2 class="title">
          Modificar libreta:
          <!-- <button class="btn btn-default" (click)="cerrarCrearNota()">X</button> -->
        </h2>
        <div class="form-group content">
          <label for="nombreDeLaNota">Nombre:</label>
          <input [(ngModel)]="nombreLibretaModificada" type="text" class="form-control" id="nombreLibretaModificada">
        </div>
        <div class="buttons">
          <button type="submit" (click)="modificarLibreta($event)" class="btn btn-primary">Cambiar nombre</button>
          <button type="submit" (click)="cerrarModificarLibreta()" class="btn btn-primary">Cancelar</button>
        </div>
        <div id="libretaDeLaNuevaNota" style="display:none"></div>
      </div>
    </div>