#nota-container{
    margin: 50px;
    #info{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
}
#saludo{
    min-width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center
    img{

        flex-grow: 1;
    }
}