<div id='saludo' *ngIf='!mostrarNota'>
    <h2>Bienvenido(a)</h2>

    <div>
        <img src="../../assets/noteMaterial.png" alt="">
    </div>
</div>
<div id="nota-container" *ngIf='mostrarNota'>
    <div id="info">
        <input [(ngModel)]="id" type="text" name="" id="idElemento" (keyup)='updateValues()' hidden>
        <h3>Titulo:</h3>
        <input [(ngModel)]="titulo" type="text" name="" id="tituloElemento" (keyup)='updateValues()'>
        <p>{{fecha}}</p>
    </div>
    <h3>Contenido:</h3>
    <textarea [(ngModel)]="contenido" type="text" name="" id="contenidoElemento" (keyup)='updateValues()' rows="15" cols='100'></textarea>
</div>    